<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="text-center mb-4">Connexion</h3>

        <form action="/login" method="POST">
            <div class="mb-3">
                <label class="form-label">Adresse e-mail</label>
                <input type="email" name="email" class="form-control" placeholder="exemple@mail.com" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Mot de passe</label>
                <input type="password" name="password" class="form-control" placeholder="Votre mot de passe" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Se connecter
            </button>
        </form>
    </div>
</div>
