<h1>Ajouter une chambre</h1>

<form action="/chambres" method="POST">
    <label>Numéro :</label>
    <input type="text" name="numero" required>

    <label>Type :</label>
    <input type="text" name="type" required>

    <label>Prix :</label>
    <input type="number" name="prix" required>

    <button type="submit">Créer</button>
</form>